#home-title {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

.button {
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.meatballs {
    background-color: rgb(211, 114, 69);
    border-radius: 12px;
}

.muffins {
    background-color: rgb(15, 150, 155);
    border: 5px solid rgb(112, 0, 112)
}

.tiramisu {
    background-color: rgb(53, 184, 26);
}

img {
    height: auto;
    width: 700px;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
}

h3 {
    font-family: "Times New Roman", Georgia, sans-serif;
}

h4 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

strong {
    color: rgb(84, 88, 233);
}

ol {
    font-size: 20px;
    text-align: center;
}

#oven {
    background-color: aqua;
    font-style: italic;
}